/* General Styles */
.header {
  background-color: rgb(12, 49, 128);
  border-radius: 0px;
  color: #fff;
  padding: 10px 0px;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.header .container {
  min-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 10px;
}
.marque {
  width: 65%;
  overflow: hidden;
}
.marquee {
  white-space: nowrap;
  display: block;
  width: 100%;
  font-size:12px;
  animation: marquee 20s linear infinite;
}
@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.header .contact-info {
  width: auto;
  display: flex;
  align-items: left;
  gap: 10px;
  font-size: 14px;
}
.header .contact-info span {
  margin-top: -4px;
  margin-right: 10px;
}

.header .social-icons {
  display: flex;
  gap: 15px;
}

.header .social-icons svg {
  font-size: 12px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.header .social-icons svg:hover {
  transform: scale(1.2);
}

/* Responsive Design */
@media (max-width: 768px) {
  /* General Styles */
  .header {
    padding: 0px;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  .header .container {
    flex-direction: row;
    text-align: center;
    padding: 10px;
  }
  .marque {
    display: none;
  }
  .header .contact-info {
    flex-direction: row;
    gap: 5px;
    text--align: center;
    font-size: 11px;
  }
  .header .contact-info span {
    margin-top: -2px;
    margin-right: 10px;
    font-size: 12px;
  }

  .header .sicon {
    font-size: 12px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .header .social-icons svg {
    font-size: 12px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
}
