.slider-container {
  width: 95%;
  height: 250px;
  margin:1%  auto;
  border-radius: 20px;
  overflow: hidden;
  border:solld rgb(21, 64, 158);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slider-img {
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-caption {
  padding: 10px;
  border-radius: 5px;
}

.carousel-caption h3 {
  color: #fff;
  font-size: 34px;
  font-weight: bold;
}

.carousel-caption p {
  color: #ddd;
  font-size: 16px;
}
@media screen and (max-width: 860px) {
  .slider-container {
    height: 150px;
    
  }
  .slider-img {
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
}
