/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display:none;
}

/* Hide scrollbar for Firefox */
body {
 
  scrollbar-width: none;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}
