/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display:none;
}

*{
  sroll-type-decoration:none;
}
/* Hide scrollbar for Firefox */
body {
  sroll-type-decoration:none;
  overflow-x:hidden;
  scrollbar-width: none;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}
